{% extends 'base.html.twig' %}

{% block title %}Planning Afpa{% endblock %}

{% block body %}
<div class="container">
    <div class="app">

        <!-- Création de la barre de saisie de valeur -->
        <div id="app">
            <span></span>
            <!-- formulaire de saisie de la formation -->
            <div class="formation_formulaire">
                <h4>Saisir la formation
                    <span class="material-icons">
                        keyboard_arrow_down
                        </span>
                </h4>
                {{ form_start(form_,{attr:{class:'form-format'}}) }}
                {{ form_label(form_.name, 'Saisir une formation')}}
                {{ form_row(form_.name) }}
                <button type="submit" class="btn-formation">Valider</button>
                {{ form_end(form_) }}
            </div>
            <!-- formulaire de saisie du planning -->
            <div class="planning_formulaire">
                <h4>Planning de la formation
                    <span class="material-icons">
                        keyboard_arrow_down
                        </span>
                </h4>
                {{ form_start(form,{attr:{class:'form-planning'}}) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn_planning">Valider</button>
                {{ form_end(form) }}
            </div>
            <!-- faire un commentaire sur le planning -->
            <div class="commentaire">
                <h4>Faire un commentaire
                    <span class="material-icons">
                        keyboard_arrow_down
                        </span>
                </h4>
                <div class="date_comment">
                    {{ form_start(form_comment) }}
                    {{ form_rest(form_comment) }}
                    <div id="calendar">
                        <datepicker value="20-03-2020" ></datepicker><!-- création d'un custom element avec vue-js -->
                    </div>
                        <button type="submit">Ok</button>
                    {{ form_end(form_comment) }}
                    
                </div>
            </div>
            <!-- faire un input pour la saisie des éleves par formation -->
            <div class="study">
                <h4>Liste des élèves
                    <span class="material-icons">
                        keyboard_arrow_down
                        </span>
                </h4>
                <div class="form_study">
                    {{ form_start(form_study)}}
                    {{ form_rest(form_study)}}
                    <button type="submit">Valider</button>
                    {{ form_end(form_study)}}
                </div>
            </div>
        </div>
    </div>
    <!-- filtre pour la saisie -->
    <div class="list_formation">
        {{ form_start(form_formation) }}
        {{ form_row(form_formation.search_formation) }}
        <button type="submit">ok</button>
        {{ form_end(form_formation) }}
    </div>
    <!-- dashboard editer un planning -->
    <div class="dashboard">
        <h2>Planning</h2>
        <table class="table_list table table-striped">
            <tr>
                <th>Activité</th>
                <th>date début</th>
                <th>date fin</th>
                <th>professeur</th>
                <th>durée</th>
                <th>Actions</th>
            </tr>

            {% for item in items %}
            <!--Récupération des éléments de la base de donnée-->

            <tr>
                <td>{{item.activity}} </td>
                <td>{{item.dateDebut | date('d/m/Y')}} </td>
                <td>{{item.dateFin | date('d/m/Y')}} </td>
                <td>{{item.professeur}} </td>
                <td>{{item.duree}} semaine(s)</td>

                <td><a class="edit" href="{{path('edit',{id:item.id})}} " title="editer"><i class="material-icons">
                            edit
                        </i></a>

                    <form action="{{ path('delete',{id:item.id})}} " method="post" style="display:inline-block;">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ item.id) }}">
                        <button style="border:none;"><i class="material-icons">
                                delete
                            </i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <!-- Liste des formations -->
    

<div id="planning"><!-- Permet d'afficher le planning -->
    <div class="container_planning">
        
        <div class="planning_planning">

            <div class="js-planning">
                {% for m in month %}
                <div class="month">{{m}}</div>
                {% endfor %}
                
                <div class="content_planning">
                    {% for i,item in items %}
                    <planning activity="{{item.activity}}" value="{{item.dateDebut | date('m-d-Y') }}" jour="{{ item.duree }}"
                    modif="{{i}} "></planning>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="planning_study">
            <h4>Liste des stagiaires</h4>
            {% for list in list_study %}
                <p>{{ list.nom }} &nbsp {{list.prenom}} </p>
            {% endfor %}
        </div>
    </div>
</div>
</div><!-- fin de la div container -->

{% endblock %}